footer {visibility:hidden;}

.custom-footer{
  position:fixed;
  left:0; bottom:0; width:100%;

  background:#C51D4A;
  color:#FAFAFA;

  padding:8px 0;
  text-align:center;
  font-size:0.85rem;

  z-index:9999;
}




